@{
    ViewBag.Title = "-解决方案";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about">
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">解决方案</h1>
        </section>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 service_box">
            <i class="fa fa-cog fa-3x pull-left"></i>
            <h2><a href="~/Scheme/Detail" class="">Assum virtute</a></h2>
            <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
        </div>
        <div class="col-md-4 service_box">
            <i class="fa fa-comments-o fa-3x pull-left"></i>
            <h2><a href="~/Scheme/Detail" class="">Mazim minimum</a></h2>
            <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
        </div>
        <div class="col-md-4 service_box">
            <i class="fa fa-globe fa-3x pull-left"></i>
            <h2><a href="~/Scheme/Detail" class="">Legimus graecis</a></h2>
            <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 service_box">
            <i class="fa fa-history fa-3x pull-left"></i>
            <h2><a href="~/Scheme/Detail" class="">Modus altera</a></h2>
            <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
        </div>
        <div class="col-md-4 service_box">
            <i class="fa fa-bar-chart fa-3x pull-left"></i>
            <h2><a href="~/Scheme/Detail" class="">Melius eligendi</a></h2>
            <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
        </div>
        <div class="col-md-4 service_box">
            <i class="fa fa-cloud-download fa-3x pull-left"></i>
            <h2><a href="~/Scheme/Detail" class="">Augue invidunt</a></h2>
            <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
        </div>
    </div>
</div>
